/* Remove the header (The tampermonkey script will display it) */

.page-header {
    display: none;
    position: fixed;
    z-index: 1000
}


/* Hide everything except the chapter title from the top element */

.page-container .container>.fic-header>div> :not(:nth-child(2)),
.page-container .container>.fic-header>div> :nth-child(2)> :not(h1) {
    display: none!important;
}


/* Restyle the chapter title */

.page-container .container>.fic-header {
    margin-bottom: 0!important;
    background: white;
    
    margin-right: 0;
    margin-left: 0;
}

.page-container .container>.fic-header>div> :nth-child(2) {
    margin-left: 0;
}

.page-container .container>.fic-header>div> :nth-child(2)> h1 {
    color: black!important;
    margin-left: 160px;
}


/* Remove the non-necessary portlets */

.page-container .container>.portlet:not(#rewind-container):not(.chapter) {
    display: none;
}


/* Remove the non-necessary components of the .chapter-body */

.page-container .chapter>.portlet-body>div:not(.chapter-content),
.page-container .chapter>.portlet-body>hr,
.page-container .chapter>.portlet-body>h5,
.page-container .chapter>.portlet-body>h6,
.page-container .chapter>.portlet-title {
    display: none;
}


/* Remove the image background */

body {
    background: #eff3f8;
}


/* Make text unselectable */

.page-container {
    user-select: none;
}
